/* topbar */
.top-brand {
    height: 50px;
    width: auto;
    background-color: #2d3436;
    text-align: center;
    font-size: 50px;
    font-family: 'Aldrich', 'software yahei';
    color: #ffeaa7;
}

/* navbar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #023027;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #ffeaa7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.navbar-bedding) {
    background-color: #091813;
}

.navbar-bedding {
    background-color: #04AA6D;
}

.cart {
    width: 20px;
    height: 15px;
}

/* main info */
.container {
    width: 1226px;
    margin: 0 auto;

}

.title {
    color: #091813;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    line-height: 58px;
}

.item-box {
    width: 100%;
    height: 614px;
    background-color: #636e72;
}

.item-totall {
    margin: 0 auto;
}

.littlebox {
    width: 500px;
    height: 300px;
    background-color: #dfe6e9;
    float: left;
    margin-top: 7px;
    margin-left: 50px;
    position: relative;

}

.pillowimg {
    height: 300px;
    width: auto;
    float: left;
}

.pillow-text1 {
    width: auto;
    height: 21px;
    font-size: 14px;
    font-family: 'Aldrich',
        'software yahei';
    margin-bottom: 2px;
    text-align: justify;
    color: #2d3436;
    float: right;
    position: absolute;
    top: 50px;
    right: 20px;
}

.pillow-text2 {
    width: auto;
    height: 21px;
    font-size: 14px;
    margin-bottom: 2px;
    text-align: justify;
    color: #2d3436;
    float: right;
    position: absolute;
    top: 100px;
    right: 20px;
}

.pillow-text3 {
    width: auto;
    height: 21px;
    font-size: 14px;
    margin-bottom: 2px;
    text-align: justify;
    color: #2d3436;
    float: right;
    position: absolute;
    top: 150px;
    right: 20px;
}

.homepage-end {
    padding-top: 50px;
    height: 100px;
    text-align: center;
}

.homepage-ending {

    text-decoration: none;
    font-family: 'Aldrich',
        'software yahei';
    color: #023027;
}

a:hover {
    color: orangered;
}